

<html>
<body>

    <br />
    <br />
    <section class="our-feature page-section-ptb" id="services">
        <div class="container">
            <h2 class="text-center blue mb-5">Servicios</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="text-md-left mb-5">
                        <div class="feature-box-info mt-2 p-0">
                            <h4 class="mb-2 mt-4 feature-title">Desarrollo en tecnologías modernas</h4>
                            <p class="feature-description">
                                Tratamos de estar siempre a la última, en base a un sistema de
                                actualización modular.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-md-left mb-5">
                        <div class="feature-box-info mt-2 p-0">
                            <h4 class="mb-2 mt-4 feature-title">Infraestructura on-premise o en la nube</h4>
                            <p class="feature-description">
                                Ofrecemos soluciones ubicadas tanto en la nube como en servidores
                                propios de nuestros clientes.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-md-left mb-5">
                        <div class="feature-box-info mt-2 p-0">
                            <h4 class="mb-2 mt-4 feature-title">Análisis en tiempo real</h4>
                            <p class="feature-description">
                                Una vez desplegada la solución nos encargamos de analizar su uso
                                y asegurar su correcto funcionamiento.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-md-left mb-5">
                        <div class="feature-box-info mt-2 p-0">
                            <h4 class="mb-2 mt-4 feature-title">Facilitamos el contacto con el desarrollo</h4>
                            <p class="feature-description">
                                Ofrecemos la transparencia requerida por el cliente, con
                                herramientas que facilitan la comunicación con el mismo.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-md-left mb-5">
                        <div class="feature-box-info mt-2 p-0">
                            <h4 class="mb-2 mt-4 feature-title">Monitorización de uso de la aplicación</h4>
                            <p class="feature-description">
                                Ofrecemos herramientas para monitorizar la solución, tanto para
                                el enfoque técnico como el comercial.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-md-left mb-5">
                        <div class="feature-box-info mt-2 p-0">
                            <h4 class="mb-2 mt-4 feature-title">Empresa de nivel europeo</h4>
                            <p class="feature-description">Soluciones activas en el mercado europeo, con soporte 24/7.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>